.content{
    grid-area: c;
    background-color: pink;

  }
  /* content */
  .back {
    width: 100%;
    height: 200px;
  }
  .prof{
    width: 120px;
    height: 120px;
    margin: 10px;
  }
  .logo-bar{display: flex;}
  .logo-bar div p{
    font-size: 20px;
    margin: 0;
    margin-left: 10px;
  }
  textarea{
    background-color: rgb(207, 205, 205);
  }